body{
    display: flex; 
	justify-content: center; 
	align-items: center; 
    height: 100vh;
    background-color: black;
}

#wraper { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
    height:530px;
    width:1060px;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
} 
#myCanvas 
{   
    border: 2px solid rgba(29,64,113,255);
    background-color: black;
}